@media all and (max-width: 1000px) {
	.lesson {
	    	width: 50%;
    		margin-bottom: 50px;
  	}

  	.top-wrapper h1 {
  		font-size: 32px;
  	}

  	.heading h2 {
  		font-size: 20px;
  	}

  	.footer-text {
  		text-align: center;
  	}

  	.animation {
		width: 100%;
  		height: 350px;
  		margin: 50px auto;
  		background: url(img/a1.jpg);
  		background-size: 100%;
  		animation: animasi 5s infinite;
	}

	@keyframes animasi {
 		25%  {background: url(img/a2.jpg); background-size: 100%;}
  		50%  {background: url(img/a3.jpg); background-size: 100%;}
  		75%  {background: url(img/a1.jpg); background-size: 100%;}
  		100% {background: url(img/a4.jpg); background-size: 100%;}
	}
}

@media all and (max-width: 670px) {
	.lesson {
		width: 100%;
	}

	footer {
		text-align: center;
	}


  	.footer-text {
  		text-align: center;
  	}

	.btn {
		width: 100%;
	}

	.top-wrapper {
		text-align: left;
	}

	.top-wrapper h1 {
		font-size: 24px;
		line-height: 36px;
	}

	.top-wrapper p {
    	font-size: 14px;
    	line-height: 20px;
  	}

	.header-right {
		display: none;
	}

	.header-left .menu-icon {
		display: block;
	}

	.animation {
		width: 100%;
  		height: 200px;
  		margin: 25px auto;
  		background: url(img/a1.jpg);
  		background-size: 100%;
  		animation: animasi 5s infinite;
	}

	@keyframes animasi {
 		25%  {background: url(img/a2.jpg);background-size: 100%;}
  		50%  {background: url(img/a3.jpg); background-size: 100%;}
  		75%  {background: url(img/a1.jpg);background-size: 100%;}
  		100% {background: url(img/a4.jpg);background-size: 100%;}
	}
}
