* {
  box-sizing: border-box;
}

body {
	background-color: #053d57; 
	margin: 0;
	font-family: "Lucida Grande";
}

header {
	background-color: #f1efe9;
	top: 0;
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0 15px 20px #f1efe9;
}

a, ul {
  text-decoration: none;
}


.clear {
  clear: left;
}

.logo {
	float: left;
	width: 100px;
}

.header-right ul li {
	float: right;
	transition: all 0.5s;
}

.header-right li:hover {
  background-color: #a4b0be;
}

.header-right li {
	line-height: 65px;
	padding-left: 25px;
	padding-right: 25px;
	color: rgba(40, 40, 40);
	display: inline;
	position: relative;
	float: left;
	font-family: "Swis721 BlkCn BT";
}

.header-left .menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  color: black;
  background-image: url(img/top_en.jpg);
  background-size: cover;
  text-align: center;
}


.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 24px;
}

/* Tambahkan CSS untuk btn */
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

/* Gantikan margin-right milik fa ke 5px */
.fa {
  margin-right: 10px;
}

.lesson-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 80px;
  text-align: center;
}

/* Tambahkan CSS untuk heading */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

/* Tambahkan CSS untuk tag <h2> didalam heading */
.heading h2 {
  font-weight: normal;
}

/* Tambahkan CSS untuk lesson */
.lesson {
  float: left;
  width: 20%;
}

/* Tambahkan CSS untuk lesson-icon */
.lesson-icon {
  position: relative;
}

/* Tambahkan CSS untuk tag <p> didalam lesson-icon */
.lesson-icon p {
  position: absolute;
  top: 58%;
  width: 100%;
  color: #FFD700;
  font-weight: bold;
}


/* Tambahkan CSS untuk txt-contents */
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

/* Tambahkan CSS untuk message-wrapper */
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

/* Tambahkan CSS untuk message */
.message {
  background-color: #5dca88;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  
}

/* Tambahkan CSS untuk message ketika diklik */
.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}


footer {
	background-color: #f1efe9;
	color: black;
	padding-top: 30px;
  padding-bottom: 20px
}

.footer-logo img {
	float: left;
	width: 160px;
}

.lesson img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(img/batik.png);
}

.footer-text {
	text-align: center;
	padding-top: 120px;
	line-height: 20px;
  font-weight: bold;
	text-decoration: blink;
  text-shadow: 0px 3px 0px #b2a98f,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}

.footer-list {
	float: right;
	text-decoration: blink;
	
}

.footer-list li {
	padding-bottom: 20px;
	list-style: none;
}

.animation {
  width: 800px;
  height: 400px;
  margin: 100px auto;
  background: url(img/a1.jpg);
  animation: animasi 5s infinite;
}

@keyframes animasi {
  25%   {background: url(img/a2.jpg);}
  50%  {background: url(img/a3.jpg);}
  75%  {background: url(img/a1.jpg);}
  100% {background: url(img/a4.jpg);}
}
